/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #d4e8f0;
}
/* Container for the page */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styling */
h1 {
    text-align: center;
    margin-bottom: 20px;
    
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
    
}

th {
    background-color: #ffffff;
}

/* Back to Allocation Page Button */
.blue-button {
    background-color: #1f3b4d;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

.blue-button:hover {
    background-color: #4CAF50;
}
